@using TECH.Areas.Admin.Models
@model HomeModelView
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .apexcharts-legend.apexcharts-align-center.position-bottom{
        display:none;
    }
</style>
<div class="page-heading">
    <h3>Trang thống kê</h3>
</div>
<div class="page-content">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h4>Thống kê số lượng đơn hàng</h4>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="chart"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row" style="align-items: center;
    height: 70px;
    text-align: center;
    background: #71af91;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;">
                            <div class="col-md-8">
                                @* <div class="stats-icon purple"><i class="iconly-boldPaper"></i></div> *@
                                Tổng bài viết
                            </div>
                            <div class="col-md-4" style="height: 100%; display: inline-flex; align-items: center; justify-content:center">
                                @* <h6 class="text-muted font-semibold">Tổng bài viết</h6> *@
                                @Model.PostCount
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row" style="align-items: center;
    height: 70px;
    text-align: center;
        background: #ffc107;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;">
                            <div class="col-md-8">
                                @* <div class="stats-icon blue"><i class="iconly-boldProfile"></i></div> *@
                                Tài khoản
                            </div>
                            <div class="col-md-4" style="height: 100%; display: inline-flex; align-items: center; justify-content:center">
                                @* <h6 class="text-muted font-semibold">Tài khoản</h6> *@
                                @Model.AppUserCount
                               @*  <h6 class="font-extrabold mb-0">@Model.AppUserCount</h6> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row" style="align-items: center;
    height: 70px;
    text-align: center;
    background: #435ebe;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;">
                            <div class="col-md-8">
                                @* <div class="stats-icon green"><i class="iconly-boldInfo-Circle"></i></div> *@
                                Tổng sản phẩm
                            </div>
                            <div class="col-md-4">
                                @Model.ProductCount
                                @* <h6 class="text-muted font-semibold">Tổng sản phẩm</h6> *@
                                @* <h6 class="font-extrabold mb-0">@Model.ProductCount</h6> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body px-3 py-4-5">
                        <div class="row" style="align-items: center;
    height: 70px;
    text-align: center;
    background: red;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;">
                            <div class="col-md-8">
                                Tổng danh mục
                                @* <div class="stats-icon red"><i class="iconly-boldBookmark"></i></div> *@
                            </div>
                            <div class="col-md-4">
                                @Model.CategoryCount
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {

            $.ajax({
                url: '/Admin/Home/GetOrderStatistical',
                type: 'GET',
                dataType: 'json',
                beforeSend: function() {
                    //Loading('show');
                },
                complete: function() {
                    //Loading('hiden');
                },
                success: function(response) {
                    var colomun = [];
                    var colomunName = [];
                    var TotalAccomplished = [];
                    var TotalWaitingProgressing = [];
                    var Totalcancel = [];
                    $.each(response.Data, function(key, item) {
                        colomunName.push(key);
                        var _data = {
                            name: key,
                            data: [item.TotalAccomplished, item.TotalWaitingProgressing, item.Totalcancel]
                        }
                        TotalAccomplished.push(item.TotalAccomplished);
                        TotalWaitingProgressing.push(item.TotalWaitingProgressing);
                        Totalcancel.push(item.Totalcancel);
                       
                    })
                    colomun.push({
                        name:"Chờ xử lý:",
                        data:TotalWaitingProgressing,
                        color:'#999999'
                    });

                    colomun.push({
                        name:"Đã hoàn thành:",
                        data:TotalAccomplished,
                        color: '#6AA84F'
                    });

                    colomun.push({
                        name:"Bị hủy:",
                        data:Totalcancel,
                        color: '#990000'
                    });

                    setTimeout(function() {
                        var options = {
                            chart: {
                                type: 'bar',
                                horizontal: false,
                                height: 350,  
                                 columnWidth: "10%"
                            },
                            fill: {
                                colors: ['#999999', '#6AA84F', '#990000']
                            },
                            dataLabels: {
                              enabled: false
                            },
                            stroke: {
                                show: true,
                                colors: ['transparent'],
                                width: 2,
                            },
                            series:colomun,
                            tooltip: {
                                enabled: true,
                                shared: true,
                            },
                            xaxis: {
                                categories: colomunName,
                                //axisBorder: {
                                //    show: true,
                                //},
                            }
                        }

                        var chart = new ApexCharts(document.querySelector('#chart'), options)
                        chart.render()
                    }, 1000);

                }
            })








        })
    </script>
    }


