@using TECH.Areas.Admin.Models
@model ProductModelView
@{
    ViewData["Title"] = "ProductCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }

    h2 {
        font-size: 14px;
    }

    .tt-prod {
        color: #4fb100;
        text-transform: uppercase;
        font-size: 17px;
        font-weight: bold;
    }

    .min-wrap h2 {
        padding: 10px 0;
        color: #f8456a;
        font-weight: bold;
    }

    h2.price-prod2 {
        font-size: 16px;
        color: #999 !important;
        margin: 0;
    }

    .price-prod {
        color: #f00;
        font-size: 25px;
        margin: 4px 0px;
    }


    .product-detail .tt-prod {
               margin: 0px;
        padding: 0px;
        color: #333333;
    }

    .product-detail .price-prod {
        padding: 0px 0px;
        color: #f8456a;
        font-weight: bold;
                text-transform: lowercase;
    }

    .product-detail .price-prod2 {
        font-weight: bold;
        padding-bottom: 0px;
        padding-top: 3px;
    }
    .product-detail.custom-height{
        padding:0px;
    }
    .btn-add-cart {
        margin-top: 15px;
        display: inline-block;
    }

    .nav-tabs > li {
        margin-bottom: 0px;
    }


    .product-content-left {
        
        padding: 20px;
    }

    .mota {
        margin-top: 40px;
    }

    .tab-content {
        padding: 20px;
    }

    .sub_desc {
        margin-top: 20px;
        background-color: #e7ffe2;
        border: 1px solid #b1dab3;
        padding: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-box-shadow: inset 1px 1px 1px #fff;
        -webkit-box-shadow: inset 1px 1px 1px #fff;
        box-shadow: inset 1px 1px 1px #fff;
        -o-box-shadow: inset 1px 1px 1px #fff;
        color: #189001;
        margin-bottom: 19px;
    }
    .box-input{
            margin: 20px 0px;
    }
        .sub_desc p {
            margin: 0;
            padding: 5px 0px;
        }

            .sub_desc p a {
                background: #89a600;
                padding: 2px 6px;
                border-radius: 3px;
                color: #fff !important;
            }

    .txt-title, .txt-title-danh-muc {
        margin: 11px 0px;
    }

    .danh-muc-name {
        color: #0071c5;
        font-weight: bold;
    }

    .box-quantity {
        margin: 5px 0px;
        display: inline-flex;
    }

  /*   .bg-primary {
        background-color: #8fa815 !important;
    } */

   /*  .modal-title {
        color: #fff !important;
        font-size: 20px;
    } */

    .choosesize {
        background: #f4f4f4;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .choosesize, ul.ulsize li {
    border: 1px solid #dadada;
}

        .choosesize li {
    list-style: none;
}

        .choosesize p {
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
            font-size: 14px;
        }

        ul.ulsize li:hover {
            border-color: red;
        }

    ul.ulsize li {
        float: left;
        margin-right: 5px;
        text-align: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul.ulsize li.tick { 
    background: url(images/sticked.png) right bottom no-repeat #fff;
    border-color: red;
}
#titleModal {
     text-transform: unset !important; 
     text-align: unset !important; 
     font-size: unset !important; 
}
.product-description-wrapper {
    overflow: hidden;
    font-weight: initial;
}
    .product-description-wrapper {
        border: 1px solid #f2f2f2;
    }
    .product-description-wrapper {
        overflow: hidden;
        font-weight: initial;
    }
        .product-description-wrapper div.tab {
        display: block;
        position: relative;
        background: #f2f2f2;
    }
        .product-description-wrapper div.tab button {
        background: #f2f2f2;
    color: #00ab9f;
    text-align: center;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    }
    .product-description-wrapper .pro-tabcontent .tab_list_product table tr {
    background: #fafafa;
}
    .product-description-wrapper .pro-tabcontent .tab_list_product table tr:nth-child(2n + 1) {
        background-color: #fff;
    }
        .product-description-wrapper .pro-tabcontent .tab_list_product table tr td:first-child {
        width: 220px;
        vertical-align: top;
        color: #4f4f4f;
        font-size: 13px;
        font-weight: 500;
        background: #efefef;
        font-weight: 500;
    }
        .product-description-wrapper .pro-tabcontent .tab_list_product table tr td {
        padding: 10px 15px;
        line-height: 18px;
        border: none;
        font-size: 13px;
        color: #000;
    }
    .product-description-wrapper .pro-tabcontent {
    display: none;
    padding: 15px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
.pro-tabcontent p{
        line-height: 1.8em;
        text-align: justify;
}
.star_box{
        margin-top: 0px !important;
        border: unset !important;
}

</style>

<section id="" class="home-module-products" style="background: #fff;    padding-bottom: 30px;">
    <div class="hmodule-products-body">
        <div class="wrapper">

            <div class="inner">

<input type="hidden" class="product-id" value="@Model.id" />

<section id="breadcrumb-wrapper">
   <div class="breadcrumb-content">
      <div class="wrapper">
         <div class="inner">
            <div class="breadcrumb-small">
               <a href="/" title="Quay trở về trang chủ">Trang chủ</a>
               <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <a href="/san-pham/@Model.category_id" target="_self">
               <span>@Model.categorystr</span>
               </a> 
               <span class="mr_lr">&nbsp;/&nbsp;</span>
                    <span>@Model.name</span>
            </div>
         </div>
      </div>
   </div>
</section>


<div class="product-detail custom-height">
    <section class="ftco-section">
        <div class="container">
            <div class="breadcum">
              
                <div class="clear"></div>
            </div>
            <div class="product-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="product-content-left">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="m-i2-cpd box-uof-img">
                                        <img style="width: 100%; height: 466px;" src="/product-image/@Model.ImageModelView[0].name" class=" ls-is-cached lazyloaded" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input type="hidden" value="@(Model.price_sell.HasValue && Model.price_sell.Value > 0 ? Model.price_sell.Value:0)" class="product-price" />
                                    <div class="b-s-1 bg-shadow">
                                        <h4 class="tt-prod NoneMB">@Model.name</h4>
                                        <h2 class="price-prod NoneMB">
                                            @{
                                                string priceStr = "";
                                                string price_reducedstr = "";
                                                if (Model.price_sell.HasValue && Model.price_sell.Value > 0)
                                                {
                                                    priceStr = Model.price_sell.Value.ToString("#,###");
                                                }
                                                if (Model.price_reduced.HasValue && Model.price_reduced.Value > 0)
                                                {
                                                    price_reducedstr = Model.price_reduced.Value.ToString("#,###");
                                                }

                                            }
                                            @priceStr đ
                                        </h2>
                                        @if (!string.IsNullOrEmpty(price_reducedstr))
                                        {
                                             <h2 class="price-prod2 NoneMB"><strike>@price_reducedstr đ</strike></h2>
                                        }                                       
                                        <p class="txt-title-danh-muc">
                                            <span class="danh-muc-lable">Danh mục: </span>
                                            <span class="danh-muc-name"> @Model.categorystr</span>
                                        </p>
                                        @if(!string.IsNullOrEmpty(Model.trademarkStr)){
                                            <p class="txt-title-danh-muc">
                                            <span class="danh-muc-lable">Nhà cung cấp: </span>
                                            <span class="danh-muc-name"> @Model.trademarkStr</span>
                                        </p>
                                        }
                                        
                                        <div class="grid mg-left-5">
                                            <div class="grid__item large--one-fifth medium--one-fifth small--one-whole pd-left5">
                                                <div class="product-quantity clearfix">
                                                    <div class="qty-addcart clearfix">
                                                        <span>Số lượng </span>
                                                        <div class="js-qty">
                                                            <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text quantity-left-minus minus">
                                                                <span class="icon icon-minus" aria-hidden="true"></span>
                                                                <span class="fallback-text" aria-hidden="true">−</span>
                                                                <span class="visually-hidden">Giảm số lượng sản phẩm đi 1</span>
                                                            </button>
                                                            <input type="number" class="js-qty__num input-number" value="1" min="1"  aria-label="quantity" oninput="this.value = !!this.value && Math.abs(this.value) >= 1 ? Math.abs(this.value) : 1" pattern="[0-9]*" name="quantity" id="quantity">
                                                            <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text quantity-right-plus plus" >
                                                                <span class="icon icon-plus" aria-hidden="true"></span>
                                                                <span class="fallback-text" aria-hidden="true">+</span>
                                                                <span class="visually-hidden">Tăng số lượng sản phẩm lên 1</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                         <a href="javascript:void(0)" class="btn btn-black py-3 px-5 btn-block btn-add-cart" style="color: #fff;font-weight: bold;">
                                                    MUA NGAY <i class="ion-ios-add ml-1"></i>
                                                </a>

                                        <strong>
                                            <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">
                                                <div class="product-variants-wrapper">
                                                    <div class="selector-wrapper" style="display: none;">
                                                        <label for="productSelect-option-0">Tiêu đề</label>
                                                        <select class="single-option-selector" data-option="option1" id="productSelect-option-0">
                                                            <option value="Default Title">Default Title</option>
                                                        </select>
                                                    </div>
                                                    <select name="id" id="productSelect" class="product-single__variants hide" style="display: none;">
                                                        <option selected="selected" data-sku="8936071672704" value="1059516180">Default Title - 80,000 VND</option>
                                                    </select>
                                                    <div id="product-select-watch" class="select-swatch">
                                                    </div>
                                                </div>
                                                <div class="info-box-1">
                                                    <p class="box-title">Khuyến mãi &amp; Ưu đãi tại </p>
                                                    <ul>
                                                        <li>
                                                            <strong>
                                                                <span style="color:#1abc9c">Giao hàng trên toàn quốc</span>
                                                            </strong>
                                                            </li>
                                                        <li>
                                                            <strong>
                                                            <span style="color:#1abc9c">Giao gấp trong 2h</span> </strong>
                                                           </li>
                                                        <li>
                                                            <strong>
                                                                <span style="color:#1abc9c"> Cam kết hàng chất lượng</span>
                                                            </strong>
                                                        </li>
                                                    </ul>
                                                </div>
                                               
                                                <div class="info-box-2">
                                                    <p class="box-content">Gọi đặt mua <a href="tel:024 3994 7159"><span style="color:#ff9900">(024) 3994 7159</span></a> (Thứ 2 - Thứ 6 | 08:00 - 17:00)</p>
                                                </div>
                                            </form>
                                        </strong>

                                     

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="padding-right: 35px; padding-left: 35px;">
                                <div class="grid">
                                    <strong>
                                    </strong>
                                                    <div class="grid__item large--nine-twelfths medium--one-whole small--one-whole" style="    margin-top: 30px;">
                                        <strong>
                                        </strong>
                                        <div class="product-description-wrapper">
                                             <div class="tab clearfix">
                                                    <button class="pro-tablinks active" id="defaultOpenProTabs">MÔ TẢ</button>
                                                </div>
                                                 @Html.Raw(Model.description)



                                              
                                              
                                                <div id="ReviewModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
                                                    <div role="document" class="modal-dialog modal-dialog-centered">
                                                        <form id="form-submit-review" action="#" style="width: 100%;">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 id="titleModal" class="modal-title white name-product ">@Model.name</h5>
                                                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" style="    font-size: 29px;">×</span></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="comment-form-rating">
                                                                                    <label for="rating" style="display: block;
    color: #3d4d65;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;">Bạn cảm thấy thế nào về sản phẩm?</label>
                                                                        <div class="box-input" style="width: 50%;">
                                                                            <select name="rating" id="star" required="" aria-required="true" class="form-control">
                                                                            @*<option value="">Xếp hạng…</option>*@
                                                                            <option value="5">Rất tốt</option>
                                                                            <option value="4">Tốt</option>
                                                                            <option value="3">Trung bình</option>
                                                                            <option value="2">Không tệ</option>
                                                                            <option value="1">Rất tệ</option>
                                                                        </select>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <div class="">
                                                                        <div class="box-input">
                                                                             <input class="form-control" id="fullname" name="fullname" type="text" required="" placeholder="Họ tên (bắt buộc)" aria-required="true">
                                                                        </div>
                                                                       <div class="box-input">
                                                                            <input class="form-control" id="comment" name="comment" type="text" placeholder="comment ">
                                                                       </div>
                                                                       
                                                                    </div>
                                                                </div>

                                                                <div class="modal-footer" style="border:unset">
                                                                    <button class="btn btn-primary me-1 mb-1 btn-submit-format btn-success" style="border: none;color: #fff;    background: #007870;">Đánh Giá</button>
                                                                    @*<a href="javascript:void(0)" class="btn btn-primary me-1 mb-1 btn-submit-format btn-success" style="border: none;color: #fff;">Đánh Giá</a>*@
                                                                    <a href="#" class="btn btn-primary me-1 mb-1 btn-submit-format" data-dismiss="modal" style="background: #ddd; border: none;color: black;">Hủy</a>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>



                                            @*<div id="protab1" class="pro-tabcontent" style="display: block;">
                                               
                                            </div>
                                            <div id="proCom" class="pro-tabcontent" style="display: none;">
                                                <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"  data-width="100%" data-numposts="5" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=363772567412181&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Fcachep.vn%2Fproducts%2Fthuc-don-an-chay-giup-giam-beo&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v16.0&amp;width=" style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 0px;"><iframe name="f5c8462423dc280c2" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://web.facebook.com/v16.0/plugins/comments.php?app_id=363772567412181&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df5701878200b7a8df%26domain%3Dcachep.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fcachep.vn%252Ff9b8b0e63dadabed2%26relation%3Dparent.parent&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Fcachep.vn%2Fproducts%2Fthuc-don-an-chay-giup-giam-beo&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;version=v16.0&amp;width=" class="" style="border: none; visibility: visible; width: 100%; height: 0px;"></iframe></span></div>
                                            </div>*@
                                        </div>

                                          <div class="product-description-wrapper">
                                             <div class="tab clearfix">
                                                    <button class="pro-tablinks active" id="defaultOpenProTabs">ĐÁNH GIÁ</button>
                                                </div>
                                                   <div class="star_box">
                                                        <div class="star-average">
                                                            <div class="woocommerce-product-rating">
                                                            <span class="star_average">@(Model.star.HasValue && Model.star.Value > 0 ? Model.star.Value + ".0" : "0.0")  <i class="fa fa-star" aria-hidden="true" style="color:#ee4d2d;    font-size: 20px;"></i></span>
                                                            <strong style="margin-top: 10px;
    display: inline-block;">Đánh giá trung bình</strong>
                                                            </div>
                                                        </div>
                                                        @* <div class="star_box_left">
                                                            <div class="reviews_bar">

                                                                <div class="devvn_review_row">
                                                                    <span class="devvn_stars_value">5<i class="fa-regular fa-star"></i></span>
                                                                    <span class="devvn_rating_bar">
                                                                        <span style="background-color: #eee" class="devvn_scala_rating">
                                                                            <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
                                                                </div>
                                                                <div class="devvn_review_row">
                                                                    <span class="devvn_stars_value">4<i class="fa-regular fa-star"></i></span>
                                                                    <span class="devvn_rating_bar">
                                                                        <span style="background-color: #eee" class="devvn_scala_rating">
                                                                            <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
                                                                </div>
                                                                <div class="devvn_review_row">
                                                                    <span class="devvn_stars_value">3<i class="fa-regular fa-star"></i></span>
                                                                    <span class="devvn_rating_bar">
                                                                        <span style="background-color: #eee" class="devvn_scala_rating">
                                                                            <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
                                                                </div>
                                                                <div class="devvn_review_row">
                                                                    <span class="devvn_stars_value">2<i class="fa-regular fa-star"></i></span>
                                                                    <span class="devvn_rating_bar">
                                                                        <span style="background-color: #eee" class="devvn_scala_rating">
                                                                            <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
                                                                </div>
                                                                <div class="devvn_review_row">
                                                                    <span class="devvn_stars_value">1<i class="fa-regular fa-star"></i></span>
                                                                    <span class="devvn_rating_bar">
                                                                        <span style="background-color: #eee" class="devvn_scala_rating">
                                                                            <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                        </span>
                                                                    </span>
                                                                    <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
                                                                </div>
                                                            </div>
                                                        </div> *@
                                                                <div class="star_box_left">
                                                                    <div class="reviews_bar">
                                                                        <div class="devvn_review_row">
                                                                            <span class="devvn_stars_value">5<i class="fa-regular fa-star"></i></span>
                                                                            <span class="devvn_rating_bar">
                                                                                <span style="background-color: #eee" class="devvn_scala_rating">
                                                                                    <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="devvn_num_reviews"><b>@(Math.Round(Model.startPercentFive))%</b> | @Model.startFive đánh giá</span>
                                                                        </div>
                                                                        <div class="devvn_review_row">
                                                                            <span class="devvn_stars_value">4<i class="fa-regular fa-star"></i></span>
                                                                            <span class="devvn_rating_bar">
                                                                                <span style="background-color: #eee" class="devvn_scala_rating">
                                                                                    <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="devvn_num_reviews"><b>@(Math.Round(Model.startPercentFour))%</b> | @Model.startFour đánh giá</span>
                                                                        </div>
                                                                        <div class="devvn_review_row">
                                                                            <span class="devvn_stars_value">3<i class="fa-regular fa-star"></i></span>
                                                                            <span class="devvn_rating_bar">
                                                                                <span style="background-color: #eee" class="devvn_scala_rating">
                                                                                    <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="devvn_num_reviews"><b>@(Math.Round(Model.startPercentThree))%</b> | @Model.startThree đánh giá</span>
                                                                        </div>
                                                                        <div class="devvn_review_row">
                                                                            <span class="devvn_stars_value">2<i class="fa-regular fa-star"></i></span>
                                                                            <span class="devvn_rating_bar">
                                                                                <span style="background-color: #eee" class="devvn_scala_rating">
                                                                                    <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="devvn_num_reviews"><b>@Math.Round(Model.startPercentTwo)%</b> | @Model.startTwo đánh giá</span>
                                                                        </div>
                                                                        <div class="devvn_review_row">
                                                                            <span class="devvn_stars_value">1<i class="fa-regular fa-star"></i></span>
                                                                            <span class="devvn_rating_bar">
                                                                                <span style="background-color: #eee" class="devvn_scala_rating">
                                                                                    <span class="devvn_perc_rating" style="width: 0%; background-color: #f5a623"></span>
                                                                                </span>
                                                                            </span>
                                                                            <span class="devvn_num_reviews"><b>@Math.Round(Model.starPercentOne)%</b> | @Model.starOne đánh giá</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        <div class="star_box_right">
                                                            <a href="javascript:void(0)" title="Đánh giá ngay" class="btn-reviews-now">Đánh giá ngay</a>
                                                        </div>
                                                    </div>
                                                </div>
                                        
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<section class="ftco-section ftco-degree-bg" style="padding-top:0px;padding-bottom: 0px;">
    <div class="container">
    <div class="row">
    <div class="col-lg-7 custom-description">
    <h2 class="mb-3">Mô tả sản phẩm</h2>
    @Html.Raw(Model.description)
    </div>
    <div class="col-lg-5 sidebar">
    @if (!string.IsNullOrEmpty(Model.specifications))
    {
    <div class="sidebar-box box-specifications" style="margin-bottom:0px">
    <h3 class="heading" style="background-color: rgb(0, 0, 0); padding: 1vh; color: rgb(255, 255, 255);margin-bottom: 0px;padding: 10px 10px;">Thông số kỹ thuật</h3>
    @Html.Raw(Model.specifications)
    </div>
    }


    @await Component.InvokeAsync("ProductsLikeComponent", new{categoryId=Model.category_id})

    </div>
    </div>
    </div>
    </section>

    @await Component.InvokeAsync("RelatedProductsComponent",new {categoryId= Model.category_id,productId=Model.id})*@

</div>
<div id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
    <div role="document" class="modal-dialog modal-dialog-centered modal-sm">
        <form id="form-submit" action="#" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white ">Vui lòng đăng nhập</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="/dang-nhap" class="btn btn-primary me-1 mb-1 btn-submit-format btn-success" style="border: none;color: #fff;">Đăng nhập</a>
                    <a href="#" class="btn btn-primary me-1 mb-1 btn-submit-format" data-dismiss="modal" style="background: #ddd; border: none;color: black;">Hủy</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="categoryModalOverStock" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
    <div role="document" class="modal-dialog modal-dialog-centered">
        <form id="form-submit" action="#" style="width: 100%;">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white ">Số lượng mua vượt quá số lượng trong kho </h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <p>Tổng số lượng còn lại trong kho là: <span class="soluongcong"></span></p>
                </div>
                <div class="modal-footer">
                    @*<a href="/dang-nhap" class="btn btn-primary me-1 mb-1 btn-submit-format btn-success" style="border: none;color: #fff;">Đăng nhập</a>*@
                    <a href="#" class="btn btn-primary me-1 mb-1 btn-submit-format" data-dismiss="modal" style="background: #ddd; border: none;color: black;">OK</a>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="CartsModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalTitle" class="modal fade" aria-modal="true">
    <div role="document" class="modal-dialog modal-dialog-centered">
        <form id="form-submit" action="#">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white ">Bạn đã thêm vào giỏ hàng thành công</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                @*  <div class="modal-body">
                </div>*@
                <div class="modal-footer">

                    <a href="#" class="btn btn-primary me-1 mb-1 btn-submit-format" data-dismiss="modal" style="background: green;color: #fff;">OK</a>
                </div>
            </div>
        </form>
    </div>
</div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             $(".btn-reviews-now").click(function () {
                $("#ReviewModal").modal("show");
            })
            $(".plus").click(function () {
                debugger;
                var value = parseInt($("#quantity").val());
                if (value < 9999 && value >= 1) {
                    $("#quantity").val(value + 1);
                }

            })
            $(".minus").click(function () {
                var value = parseInt($("#quantity").val());
                if (value > 1) {
                    $("#quantity").val(value - 1);
                }

            })
            $(".btn-add-cart").click(function () {
                var price = parseInt($("#quantity").val()) * parseInt($(".product-price").val());
                $.ajax({
                    url: '/Carts/Add',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        product_id: $(".product-id").val(),
                        quantity: $("#quantity").val(),
                        price: price,
                        sizeId: parseInt($(".sizes.tick").attr('data-size'))
                    },
                    beforeSend: function () {
                    },
                    complete: function () {
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#CartsModal").modal("show");
                        }
                        else if (response.overstock && response.tongsoconlai > 0) {
                            $("#categoryModalOverStock").modal("show");
                              $(".soluongcong").text(response.tongsoconlai);
                            
                        }
                        else {
                            $("#categoryModal").modal("show");
                        }
                    }
                })

            })
            $("#form-submit-review").validate({
                rules:
                {
                    fullname: {
                        required: true,
                    },
                    comment: {
                        required: true
                    }
                },
                messages:
                {
                    fullname: {
                        required: "Họ tên không được để trống"
                    },
                    comment: {
                        required: "Comment không được để trống"
                    }
                },
                submitHandler: function (form) {
                    debugger
                    var ReviewsModelView ={
                        product_id:$(".product-id").val(),
                        fullname:$("#fullname").val(),
                        comment:$("#comment").val(),
                        star:$("#star").val()                        
                    };
                    $.ajax({
                        url: '/Admin/Reviews/Add',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            ReviewsModelView: ReviewsModelView
                        },
                        beforeSend: function () {
                            Loading('show');
                        },
                        complete: function () {
                            Loading('hiden');
                        },
                        success: function (response) {
                              $("#ReviewModal").modal("hide");
                            alert("Đánh giá thành công");
                            window.location.reload();
                            //if (response.success) {
                            //    tedu.notify('Thêm mới dữ liệu thành công', 'success');
                            //    self.GetDataPaging(true);
                            //    window.location.href = '/admin/quan-ly-bai-viet';
                            //}
                            //else {
                            //    if (response.isNameExist) {
                            //        $(".product-name-exist").show().text("Phone đã tồn tại");
                            //    }
                            //}
                        }
                    })
                }
            });

        })
        function AddSize(id,tag){
            $(".sizes").removeClass("tick");
            $(tag).addClass("tick");
        }


    </script>
}